footer {
    background-color: #60656F;
    padding: 24px 0;
    color: #E5D9F2;
    font-size: 0.85em;
    display: flex;
}

footer > .content {
    padding: 0 36px;
    flex-grow: 1;
}

footer > .divider {
    border-color: #E5D9F2;
    border-right: 2px solid;
    flex-grow: 1;
}

footer .address {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

footer .social-media {
    list-style: none;
    padding: 0;
}

footer .social-media a {
    display: inline-block;
}

footer .social-media img {
    margin: 8px;
    vertical-align: middle;
}

footer .social-media span {
    margin-right: 16px;

}

@media (max-width: 800px){
    footer {
        flex-direction: column;
        padding: 0 36px;
    }

    footer .content {
        padding: 36px 0;
    }

    footer .social-media {
        display: flex;
        justify-content: space-evenly;
    }

    footer .social-media span {
        display: none;
    }

    footer .divider {
        border-top: 2px solid;
        border-right: none;
    }
}
