* {
  box-sizing: border-box;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

  /* text-decoration: none; */
  color: inherit;
}

body * {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Mono", monospace;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.Datateknik {
  color: #f280a1;
}

.InfoCom {
  color: #96c;
}
