.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 64px 80px;
}

.logo {
  width: 64px;
}

.navbar-links ul {
  text-decoration: none;
  display: flex;
}

.navbar-links li {
  text-align: center;
  list-style: none;
  font-size: 1.2em;
}

.navbar-links a {
  text-decoration: none;
  text-align: center;
  padding: 1em;
  color: rgb(68, 68, 68);
}

.bar {
  height: 0.05rem;
  width: 100%;
  background-color: rgb(112, 112, 112);
  border-radius: 5px;
}

@media (max-width: 700px) {
  .navbar {
    padding: 36px;
  }

  .navbar-links ul {
    display: inline-block;
  }

  .bar {
    display: inline-block;
  }

  .pipe {
    display: none;
  }
}
