.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 64px 80px;
}

.logo {
    width: 64px;
}

.navbar-links ul {
    text-decoration: none;
    display: flex;
}

.navbar-links li {
    list-style: none;
    font-size: 1.2em;
}

.navbar-links a {
    text-decoration: none;
    padding: 1em;
    color: rgb(68, 68, 68);

}

.toggle-button {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    top: 3rem;
    right: 2rem;
    width: 3rem;
    height: 2rem;
}

.toggle-button .bar {
    height: .25rem;
    width:  100%;
    background-color: rgb(112, 112, 112);
    border-radius: 5px;
}

@media (max-width: 700px){
    .toggle-button {
        display: flex;
    }

    .navbar {
        padding: 36px;
    }

    .navbar-links ul {
        display: none;
    }
}
