.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 64px 80px;
}

.logo {
  width: 64px;
}

.navbar-links ul {
  text-decoration: none;
  display: flex;
}

.navbar-links li {
  text-align: center;
  list-style: none;
  font-size: 1.2em;
}

.navbar-links li::after {
  content: '|';
}

.navbar-links li:last-child::after {
  content: '';
  display: none;
}

.navbar-links a {
  text-decoration: none;
  text-align: center;
  padding: 1em;
  color: rgb(68, 68, 68);
}

@media (max-width: 700px) {
  .navbar {
    padding: 36px;
  }

  .navbar-links li::after {
    content: '';
    width: 100%;
    display: block;
    border-bottom: 0.05rem solid rgb(112, 112, 112);
    border-radius: 5px;
    margin: 11px 0;
  }

  .navbar-links ul {
    display: inline-block;
  }
}
